* {
    font-family: 'Protest Revolution';
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: normal;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

/* ////////////////    START HERO SECTION   \\\\\\\\\\\\\\\\\\\ */

header {
    width: 1440px;
    margin-left: 40px;
    background-color: #181823;
}

.nav {
    display: flex;
    width: 1240px;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    width: 35%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 120px;
}

.logo {
    background-color: rgba(0,0,0,255);
    height: 850px;
    width: 40%;
}

.logo h2 {
    color: white;
    margin-left: 50px;
}

.nav-item a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    background-color: #1e1ebd;
}

#robin-img {
    position: absolute;
    width: 750px;
    height: 650px;
    top: 100px;
}



.hero-inner-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 650px;
    width: 738px;
    height: 368px;
    color: white;
    margin-top: 75px;
    margin-left: 50px;
}

.span-text {
    color: rgba(255, 255, 255, 0.5);
}

.hero-inner-wrap h1 {
    font-size: 72px;
    
}

.hero-inner-wrap p{
    font-size: 18px;
    width: 738px;
    height: 54px;
    color: rgba(255, 255, 255, 1);
    line-height: 27px;
}




/* ////////////////    END HERO SECTION   \\\\\\\\\\\\\\\\\\\ */




.li,
a,
ul {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0px auto;
}



/* About --------------------------------------------------------------*/




.about__frame-10.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.About__item {
    width: 720px;
    height: 600px;
    padding-top: 120px;
    padding-left: 72px;
}

.About__info {
    background: #FFF3E4;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.About__heading {
    width: 529px;
    height: 66px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    align-items: center;
    color: #181823;
    padding-bottom: 24px;

}

.About__text {
    width: 555px;
    height: 90px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    display: flex;
    align-items: center;
    color: #5B6876;


}

.About__btnca {
    width: 130px;
    height: 40px;
    margin-top: 134px;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #0e0e13;
    border-style: none;
    border-bottom: 2px solid rgba(132, 145, 160, 1);
    background-color: #FFF3E4;
}



/* Our--------------------------------------------------------------------- */



.frame-31 .container {
    margin-top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our__item {
    width: 720px;
    height: 600px;
    padding-top: 120px;
    padding-left: 72px;
}

.our__info {
    background: #FBE4FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 350px;

}

.our__heading {
    width: 529px;
    height: 66px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    align-items: center;
    color: #181823;
    padding-bottom: 24px;

}

.our__text {
    width: 555px;
    height: 90px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    display: flex;
    align-items: center;
    color: #5B6876;


}

.our__btnca {
    width: 135px;
    height: 40px;
    margin-top: 134px;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0e0e13; 
    border-style: none;
    border-bottom: 2px solid rgba(132, 145, 160, 1);
    background-color: #FBE4FF;
}


/* User--------------------------------------------------------------------- */



.User__list {
    width: 1440px;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: black;
}

.User__item {
    display: flex;

}

.User__info {
    padding-left: 72px;
    padding-bottom: 120px;
}

.User__headingg {
    width: 189px;
    height: 89px;

    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.User__textt {
    width: 368px;
    height: 135px;
    padding-bottom: 24px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #8491A0;
}

.User__item {
    padding-left: 72px;
}

.User__heading {
    width: 186px;
    height: 36px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.User__text {
    width: 368px;
    height: 72px;
    margin-bottom: 48px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #8491A0;



}

.User__li {
    margin-right: 24px;
}


/* ///////////////////  START FRAME-9 SECTION  \\\\\\\\\\\\\\\\\\\\\\  */

.frame-9 {
    width: 1440px;
    margin-left: 40px;
    padding: 1px 0;
    height: 715px;  
    background-color: black;
}

.frame-9-wrap {
    display: flex;
}

.frame-9-title {
    margin-top: 120px;
    font-size: 16px;
    color: rgba(132, 145, 160, 1);
    text-transform: uppercase;
    margin-left: 72px;
}

.frame-9 h1 {
    font-size: 55px;
    width: 690px;
    height: 72px;
    color: white;
    margin-left: 72px;
}

.frame-9-wrap {
    margin-left: 82px;
    margin-top: -50px;
}

.frame-9-item {
    width: 416px;
    height: 247px;
    margin-left: 24px;
}

.frame-9-item h4 {
    color: rgba(132, 145, 160, 1);
    font-size: 110px;
    font-weight: 400;
}

.frame-9-h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    width: 339px;
    margin-top: -130px;
}

.span-color-frame-9-1 {
    color: rgba(60, 199, 78, 1);
}

.span-color-frame-9-2 {
    color: rgba(96, 155, 255, 1);
}

.span-color-frame-9-3 {
    color: rgba(233, 93, 144, 1);
}

.frame-9-item p {
    color: rgba(132, 145, 160, 1);
    font-size: 16px;
    width: 368px;
    height: 48px;
}



/* ///////////////////  END FRAME-9 SECTION  \\\\\\\\\\\\\\\\\\\\\\  */